html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.subtabs li {
	border-top: none;
	border-left: none;
	border-right: none;
}

.subtabs li:hover {
	border-top: none;
	border-left: none;
	border-right: none;
}